body {
  margin: 0;
  padding: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  */
  /*font-family: -apple-system;*/
  font-family: sans-serif;
  /*font-family: "Roboto";*/
  transition: background-color 1s;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
